@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

.mb10 {
  margin-bottom: 10px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.pr10 {
  padding-right: 10px;
}

.right {
  float: right !important;
}
